body {
	font-family: "Montserrat", serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	background-image: url(../img/background-img.avif);
	background-position: center;
	background-attachment: fixed;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
.page {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0px 15px;
	background-color:rgba(214, 235, 27, 0.525) ;
}
.main-picture {
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
}

span:hover {
	color: #000;
}

.icon-list {
	color: azure;
}
.icon-1::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vision.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-2::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/mission.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-3::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/group.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-4::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-5::before{
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector-2.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-6::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector-3.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-7::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector-4.svg) 0px 0px / 40px 40px no-repeat;
}
.icon-8::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector-5.png) 0px 0px / 40px 40px no-repeat;
}
.icon-9::before {
	content: "";
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 20px;
	background: url(../img/vector-6.svg) 0px 0px / 40px 40px no-repeat;
}

ul li:not(:last-child) {
	margin-bottom: 20px;
}
.icon-list > li :hover {
	color: #000;
}
.icon-list li:hover {
	color: #000;
}

.icons {
	margin-bottom: 20px;
}

.image {
	display: inline-block;
	padding-left: 50px;
	margin-bottom: 20px;
	text-align: center;
}
