@import url(fonts.css);


/* home work */

.header{
	background: aqua;
}

.wrapper {
	background-color: #231F8B;
	padding: 112px 0;
}
.container {
	max-width: 1050px;
	margin: 0 auto;
}
.container-wraper {
	max-width: 765px;
	margin-bottom: 70px;
}
.container-title {
	font-family: "Montserrat",serif;
	color: #5A54F2;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.container-main-title {
	font-family: "Circular Std",sans-serif;
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
}
.container-text {
	font-family: "Circular Std",sant-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 450;
	line-height: 20px;
	letter-spacing: 0.2px;
	margin-bottom: 70px;
	}


	.group-elements {
		overflow: hidden;
	}

	.items {
		font-size: 0;
	}

	.item {
		display: inline-block;
		background: #fff;
		max-width: 230px;
		width: 100%;
		padding: 35px 40px;
		margin-right: 32px;
		vertical-align: top;

		font-family: "Circular Std";
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0.1px;
		}
	.first {
		min-height: 288px;
	}
	.second {
		min-height: 312px;
		margin-top: 48px;
	}
	.blue {
		background: #5a54f2;
	}

	.text {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.2px;
	}

	.lines {
		background: #E74040;
		width: 50px;
		height: 2px;
		margin-bottom: 20px;
	}
	.item img {
		margin-bottom: 20px;
	}
	.item h3 {
		margin-bottom: 20px;
	}